.Chart-rect--day {
  fill: #ddd;
}

.Chart-rect--invisible {
  fill: #fff;
  fill-opacity: 0.0;
  
  &:hover {
    cursor: pointer;
    stroke: blue;
    stroke-opacity: 1.0;
  }
}

.Chart-text {
  &.Chart-text--centered {
    text-anchor: middle;
  }
}

.low {
  fill: #e8433a;
}

.target {
  fill: #50e5e8;
}

.high {
  fill: #854cff;
}
