.Chart-rect--day {
  fill: #f7f7f7;
}

.Chart-rect--data {
  fill: darken(#f7f7f7, 20%);
}

.Chart-rect--invisible {
  fill: #fff;
  fill-opacity: 0.0;
  
  &:hover {
    cursor: pointer;
    stroke: blue;
    stroke-opacity: 1.0;
  }
}

.Chart-text {
  &.Chart-text--centered {
    text-anchor: middle;
  }
}
